@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');
body {
  margin: 0;
  height:100vh;
  display:flex;
  align-items:center;
  justify-content:center;
  font-family:'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image:url("./images//bg-pattern.svg");
  background-repeat:no-repeat;
  background-color:rgb(249, 252, 254);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
